{% extends 'base.html.twig' %}

{% block body %}
    <h1>list des etudiants</h1>
                    <div id="message" style="margin: 30px 0;">


                    </div>
                   <div>
                       <label for="nbH" style="display: inline">Nombre des heurs : </label>
                       <input type="number" id="nbH" value="1" min="1" name="nbH">
                       <label for="date" style="display: inline">date : </label>
                       <input type='datetime-local' class="form-control" value="{{ date|date('Y-m-d hh:mm') }}" name="date" id="date"/>
                       {% if matieres is defined %}
                       <select name="matiere" id="matiere" style="width: 200px!important; display: inline; max-height: 30px;">
                           {% for matiere in matieres %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <option value="{{ matiere.id }}" selected>{{ matiere.nomMatiere }}</option>
                                    {% elseif matiere.id == app.user.matiere.id %}
                                        <option value="{{ matiere.id }}" selected>{{ matiere.nomMatiere }}</option>

                                {% else %}
                                <option value="{{ matiere.id }}" disabled>{{ matiere.nomMatiere }}</option>
                                {% endif %}
                           {% endfor %}
                       </select>
                       {% endif %}
                       <br><br><br>
                   </div>
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>CNE : </th>
                <th>Nom :</th>
                <th>Prenom :</th>
                <th>Email :</th>
                <th>Adresse:</th>
                <th>Absent:</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiands %}
            <tr>
                <td><a href="{{ path('GestionEtudiant_show', { 'id': etudiant.id }) }}">{{ etudiant.cne }}</a></td>
                <td>{{ etudiant.nom }}</td>
                <td>{{ etudiant.prenom }}</td>
                <td>{{ etudiant.email }}</td>
                <td>{{ etudiant.adresse }}</td>
                <td>
                    <ul>
                        </li>
                            <div class="material-switch" style="display: inline">
                                    <input  data-etId="{{ etudiant.id }}" id="abs_{{ etudiant.id }}" name="abs_{{ etudiant.id }}" value="{{ etudiant.id }}" type="checkbox"/>
                                    <label for="abs_{{ etudiant.id }}" class="label-danger"></label>
                            </div>
                        </li>
                    </ul>
                </td>

                <td>

                            <a href="{{ path('GestionEtudiant_show', { 'id': etudiant.id }) }}"><span class="icon fa-list"></span></a>

                        <br>
                            <a href="{{ path('GestionEtudiant_edit', { 'id': etudiant.id }) }}"><span class="icon fa-pencil"></span></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="span12" >
            <button class=" btn btn-primary pull-right" id="submit">Valider</button>
        </div>


</div>

{% endblock %}
