{% extends '::base.html.twig' %}


{% block body %}
    <section class="login">
        <article>
            <h2> nouveau Compte </h2>
            <form action="{{ path('ajouterCompte') }}" method="post">
                {{ form_errors(form) }}
                {{ form_row(form.login) }}
                {{ form_row(form.password.first, {'label':'password'}) }}
                {{ form_row(form.password.second, {'label':'repeat password'}) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.prenom) }}
                {{ form_row(form.email) }}

                {{ form_rest(form) }}

                <input type="submit" value="ajouter !">

            </form>
        </article>
    </section>
{% endblock %}
